
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn {
	display: inline-block;
	background: $gray-dark;
	color: $white;
	line-height: 1;
	font-weight: bold;
	padding: $pad;
	border: 0;
	text-align: center;

	// &:hover, &:focus {
	// 	background: $gray;
	// 	color: $white;
	// }

	&.disabled {
		background: $gray-light-2;
		color: $gray;
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: italic;
}







/*------------------------------------*\
    $RED
\*------------------------------------*/

	.btn--drop-down {
		display: inline-flex;
		margin: 1em;
		text-align: center;
		padding: .3rem .5rem .3rem 1.5rem;
		border-radius: 0.33em;

		.drop-down--arrow{
			position: relative;
			margin: 0 0 0 auto;
			align-self: center;
			width: 20px;
			height: 20px;
			border-left: 1px solid #fff;
			background: url(../images/menu-open-arrow.png) no-repeat 98% 50%;


		}
	}



	.button-container--row{
		display: flex;

		.btn {
			// display: inline;
			margin: .5rem .3rem;
			padding: .3rem 1.5rem;
			height: 2rem;
		}

		.btn--drop-down{
			padding-right: .5rem;
			.drop-down--arrow{
				margin: 0 0 0 1rem;
			}
		}
	}

	.btn--icon{
		height: 5rem;
		line-height: 2.5rem;
		vertical-align: middle;
		img{
			height: 1.6rem;
			float: left;
	    margin-top: .9rem;
		}
	}

	.btn--alert{
		background: #ca3535;
		background: -moz-linear-gradient(top, #ca3535 0%, #790000 98%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca3535), color-stop(98%,#790000));
		background: -webkit-linear-gradient(top, #ca3535 0%,#790000 98%);
		background: -o-linear-gradient(top, #ca3535 0%,#790000 98%);
		background: -ms-linear-gradient(top, #ca3535 0%,#790000 98%);
		background: linear-gradient(to bottom, #ca3535 0%,#790000 98%);
	}
