


/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/




.btn {
	display: inline-block;
	background: $gray-dark;
	color: $white;
	line-height: 1;
	font-weight: bold;
	padding: $pad;
	border: 0;
	text-align: center;

	&:hover, &:focus {
		background: $gray;
		color: $white;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray;
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: italic;
}





/*------------------------------------*\
    $RED
\*------------------------------------*/

	.btn--drop-down {
		display: flex;
		margin: 1em;
		text-align: center;
		padding: .3rem .5rem .3rem 1rem;
		border-radius: 0.33em;
	}

	.drop-down--arrow{
		align-self: center;
		width: 20px;
		height: 20px;
		float: right;
		border-left: 1px solid #fff;
		margin-left: 1rem;
		background: url(../images/menu-open-arrow.png) no-repeat 98% 50%;
	}

	.button-container--row{
		display: flex;

		.btn {
			// display: inline;
			margin: .5rem .3rem;
			padding: .3rem 1.5rem;
			height: 2rem;
		}

		.btn--drop-down{
			padding-right: .5rem;
		}
	}
