
.header--main_nav{
	display: flex;
	padding: 0 5rem 0 3rem;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#014a7d), to(#3399cc));
	height: 6rem;

	.row--nav-icons{
		display: inline-block;
		align-self: flex-end;

		ul{
			display: flex;
		}

		.icon--image{
			margin: 0 .5rem;
			@include opacity-hover;

			&:hover{
				opacity: 1;
			}
		}



		.selected {
			height: 100%;
			padding: .5rem 0 0 0;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(133, 141, 149)), color-stop(0.5, rgb(70, 80, 91)), color-stop(0.5, rgb(56, 66, 77)), to(rgb(28, 39, 51))) !important;
			@include top-round(.3rem);
		}

	}

	.header--signature{
		color: rgba(255, 255, 255, 0.75);
		margin-left: auto;
	}


}


.header--secondary_nav {
	height: 2.667em;
  line-height: 2.667em;
	padding: 0 .5rem;
	display: flex;
	align-items: center;
	color: white;
	border-top: 1px solid rgb(255, 101, 0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(48, 49, 53)), color-stop(0.06, rgb(60, 61, 66)), color-stop(0.18, rgb(64, 68, 71)), color-stop(0.5, rgb(52, 56, 59)), color-stop(0.5, rgb(37, 41, 44)), color-stop(0.63, rgb(26, 27, 31)), to(black));

	.button-container--row{
		p{
			margin: 0
		}
	}

	.row--input_submit{
		align-items: baseline;
	}

}



.header-template{

	.row--input_submit{
		.btn{
			font-size: .8rem;
			padding: .5rem;
			height: 1.8rem;
			line-height: .6rem;
		}
		padding: 0 .5rem;
		input{
			width: 10rem;
			font-size: .8rem;
			padding: .5rem;
			height: 1.8rem;
		}
	}

	.button-container--row{
		.btn{
			font-size: .8rem;
			padding: .5rem;
			height: 1.8rem;
			line-height: .6rem;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(133, 141, 149)), color-stop(0.5, rgb(70, 80, 91)), color-stop(0.5, rgb(56, 66, 77)), to(rgb(28, 39, 51)));
		}
		.btn:hover{
			box-shadow: rgb(203, 233, 247) 0px 0px 7px;
		    transition: all 100ms;
		    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(109, 192, 229, 0)), color-stop(0.25, rgba(109, 192, 229, 0.298039)), color-stop(0.5, rgba(109, 192, 229, 0.4)), color-stop(0.75, rgba(109, 192, 229, 0.298039)), to(rgba(109, 192, 229, 0))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(175, 194, 207)), color-stop(0.5, rgb(83, 114, 136)), color-stop(0.5, rgb(69, 102, 124)), to(rgb(44, 82, 107)))
		}
	}


.row--input_submit{
	  align-self: baseline;

	.btn{
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#014a7d), to(#3399cc));
	}
}


}


@media all and (max-width: 670px ){

	.header--secondary_nav{
		height: auto;
		display: block;
		.row--input_submit{
			padding: 0rem;
		}
	}
	.header--signature{
		    font-size: 12px;
				position: absolute;
				right: .5rem;
	}

}
