//color scheme
$white-egg: #E9E9E9;
$gray-light-4: #BFC7CC; //border
$gray-dark: #333333;
$gray-darker : #505050;
$blue-light: #368BC0;
$blue-lighter: #57ACD7;
$blue-dark: #1669AA;
$red-light : #B12525;
$red-dark : #830707;



//LAYOUT

.container--border-padded{
    margin: 2em 0;
    padding: .90em;
    border: 1px solid white;
    border-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.8em;
    background: rgba(255, 255, 255, 0.2);
}

.container-halfwidth{
  width: 50%;
}

.container--white {
  background-color: #fff;
}

.container--rounded {
  border-radius: .5em;
}

.element-center {
  margin: 0 auto;
  float: none;
}

.element--left {
 float: left;
}

.element-right {
  float: right;
}

.header-topround{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.header--backgroundblue{
  background-color: $blue-dark;
}

.header--white{
  color: #fff;
}

.text-center {
  text-align: center;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

//MODULES
.btn--wide{
    border-radius: 0.33em;
    width: 100%;
}

.btn--small{
	border-radius: 0.33em;
	margin: 1em;
}

.form__select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding: .5rem 2rem;
margin: 1rem;
font-size: .9em;
font-weight: 100;
cursor: pointer;
display: block;
border-radius: 0.33em;
background-color: $white-egg;
color: black;
background: url(../images/br_down.png) no-repeat 95% 60%;
}

.input--rounded {
  border-radius: 0.417em;
}

.feild--flex{
display: flex;
max-height: 2.7em;
justify-content: initial;
margin: 1em .5em;
}

.label--flex {
  width: 20%;
  text-align: center;
}

.input--flex {
  width: 85%
}



// THEME
//fonts
$header-font : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
$primary-font : Verdana, Arial, Helvetica, sans-serif;



h1,
h2,
h3,
h4,
h5,
h6{
  font-style: $header-font;
}

body{
  font-style: $primary-font;
}

.demo-animate{
  background-color: green;
}

option{
  background-color: green;
}


@media (max-width: 900px){
  .container-halfwidth{
    width: 70%;
  }
}


// body {
//   background-color: $gray-dark;
// }
